form.csv-menu {
  position: fixed;
  top: calc(60% - 2.95em);
  inset-inline-start: .25em;
  z-index: 100000;
  border-radius: var(--bs-border-radius);
  background-color: var(--formBg);
  padding: .25em 0 .25em .25em;
  display: grid;
  grid-template-columns: fit-content(1px) fit-content(1px) fit-content(1px) fit-content(1px) fit-content(1px) fit-content(1px);
  grid-gap: 0;
  box-sizing: border-box;
}

form.csv-menu a.btn-close,
form.csv-menu h2,
form.csv-menu .dropdown,
form.csv-menu .save,
form.csv-menu .add {
  margin-right: .25em;
}

form.csv-menu h2 {
  order: 99;
}

form.csv-menu a.btn-close {
  order: 100;
}

form.csv-menu ul {
  padding: 0;
  max-height: 200px;
  overflow: auto;
}

form.csv-menu li {
  list-style: none;
  padding: .25em;
  white-space: nowrap;
}

form.csv-menu label {
  padding-inline-start: .5em;
}

form.csv-menu .save,
form.csv-menu .add,
form.csv-menu .dropdown-toggle,
form.csv-menu .dropdown,
form.csv-menu .dropdown button {
  height: 33px;
  width: 33px;
  padding: 0;
}

form.csv-menu ul {
  border-radius: var(--bs-border-radius);
}

form.csv-menu .dropdown button {
  padding: 0 .5em;
}

form.csv-menu .save,
form.csv-menu .add,
form.csv-menu .dropdown-toggle {
  background-position: center;
  background-repeat: no-repeat;
}

form.csv-menu .save {
  background-image: url(../img/save.svg);
  background-size: 55%;
}

form.csv-menu .save:hover {
  background-image: url(../img/save-hover.svg);
}


form.csv-menu .add {
  background-image: url(../img/add.svg);
  background-size: 70%;
}

form.csv-menu .add:hover {
  background-image: url(../img/add-hover.svg);
}




form.csv-menu .dropdown-toggle {
  background-image: url(../img/column.svg);
  background-size: 60%;
}

form.csv-menu .dropdown-toggle:hover {
  background-image: url(../img/column-hover.svg);
}

form.csv-menu .dropdown-toggle::after {
  display: none;
}
