div.csv-table {
  position: fixed;
  top: 50%;
  left: 0;
  bottom: 0;
  max-width: 100%;
  background-color: transparent;
  overflow: auto;
  margin: 0;
  padding: 0;
}

div.csv-table h2 {
  text-align: end;
  overflow: visible;
  margin: 0;
  height: 2em;
}

div.csv-table table {
  border-collapse: collapse;
  background-color: var(--popupBg);
  border: 1px solid var(--cPrimary);
}

div.csv-table th {
  padding: .25em;
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
  border-left: 1px solid var(--cOnPrimary);
}

div.csv-table td {
  border: 1px solid var(--cPrimary);
  padding: 0;
}

div.csv-table td input {
  padding: .25em;
  margin: 0;
  background-color: transparent;
  border: none;
}

div.csv-table th.status {
  padding: .25em;
}

div.csv-table td.status {
  padding: 0;
  min-width: 125px;
  max-width: 125px;
  color: var(--cOnPrimary);
  text-align: center;
}

div.csv-table td.status.ambiguous select.possible {
  border: none;
  text-align: center;
  background-color: transparent;
  padding: .25em;
  width: calc(125px - .5em);
}

div.csv-table td.status.ambiguous {
  background-color: #F7B500;
}

div.csv-table td.status.geocode {
  background-color: #008450;
}

div.csv-table td.status.error {
  background-color: #CC0202;
}

div.csv-table td.status.ambiguous {
  padding: 0;
}

div.csv-table a.map-btn {
  width: 31px;
  height: 31px;
  display: inline-block;
  background-color: transparent;
}

/* div.csv-table th[data-prop="longitude"],
div.csv-table th[data-prop="latitude"],
div.csv-table td[data-prop="longitude"],
div.csv-table td[data-prop="latitude"] {
  display: none;
} */

div.csv-table input[data-prop="longitude"],
div.csv-table input[data-prop="latitude"] {
  text-align: end;
}
/* 
a.btn-close.csv-table {
  background-color: var(--cPrimary);
  width: 20px;
  height: 20px;
  padding: 0;
  position: absolute;
  top: .5em;
  inset-inline-end: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
} */

 div.csv-table th.map,
div.csv-table td.map {
  background-color: var(--cPrimary);
}

div.csv-table th.map {
  border-bottom-color: var(--cOnPrimary);
}

div.csv-table td.map {
  border-color: var(--cOnPrimary);
}

div.csv-table td.map {
  background-image: url(/img/pin.svg);
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.csv-table td.map:hover {
  background-color: var(--cSecondary);
  background-image: url(/img/pin-hover.svg);
  border-color: var(--cSecondary);
}
