#dialog .modal-dialog {
  width: 400px;
}

#dialog .modal-content {
  border-radius: var(--bs-border-radius);
}

#dialog input.form-check-input {
  margin: 1em 0;
}
#dialog label {
  margin: 1em 1em 1em .25em;
}

#dialog .url {
  display: none;
}

#dialog .submit {
  text-align: end;
  margin-top: 1em;
}

#dialog .template-form select {
  margin-bottom: .5em;
}

#dialog .template-form select:last-of-type {
  margin-bottom: 0;
}