form.locate-form {
  position: absolute;
  top: calc(.25em + 1px);
  inset-inline-start: calc(38px + .25em);
  display: grid;
}

form.locate-form.location {
  grid-template-columns: fit-content(1px) fit-content(1px) fit-content(1px);
}

form.locate-form.bbl {
  grid-template-columns: fit-content(1px) fit-content(1px) fit-content(1px) fit-content(1px) fit-content(1px);
}

form.locate-form .form-control {
  height: 33px;
  display: inline;
  background-color: var(--tipBg);
}

form.locate-form button.btn.btn-primary.search,
form.locate-form select.form-control.form-select.type {
  width: 0;
  padding: 14px 15.5px;
  background-position: center;
  color: transparent;
}

form.locate-form select.form-control.form-select.type:hover {
  background-image: url(../img/down-hover.svg);
}

form.locate-form select.form-control.form-select.type {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  z-index: 1;
}

form.locate-form button.btn.btn-primary.search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-inline-start: -1px;
}

form.locate-form button.btn.btn-primary.search:hover {
  background-image: url(../img/search-hover.svg);
}

form.locate-form select.form-control.form-select.type option {
  background-color: var(--cOnPrimary);
  color: var(--cPrimary);
}

form.locate-form select.form-control.form-select.type option:first-of-type {
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
}

form.locate-form select.form-control.form-select.type option:first-of-type {
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}

form.locate-form .form-control.location {
  width: 308px;
  border-radius: 0;
  margin-inline-start: -1px;
}

form.locate-form.location .form-control.bbl {
  display: none;
}

form.locate-form.bbl .form-control.location {
  display: none;
}

form.locate-form .form-control.boro {
  width: 156px;
  padding: 0 .75em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-inline-start: -1px;
}

form.locate-form .form-control.block {
  width: 5em;
  margin: 0 .25em;
  text-align: end;
}

form.locate-form .form-control.lot {
  width: 4em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-align: end;
}

form.locate-form ul.possible {
  display: none;
  background-color: transparent;
  position: absolute;
  top: 32px;
  width: 324px;
  inset-inline-start: 32px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form.locate-form ul.possible li.list-group-item {
  padding: 3px .5em;
  cursor: pointer;
  background-color: var(--tipBg);
}

form.locate-form ul.possible li:hover {
 background-color: var(--cSecondary);
  color: var(--cOnSecondary);
}

form.locate-form select.form-control.form-select.btn:hover {
  border: 1px solid var(--cPrimary);
  background-color: var(--cSecondary);
  background-image: var(--downArrowHover);
}

.form-select:active {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}