html, body {
  position: fixed;
  inset: 0;
}

h1, h2, h3, h4, h5, h6 {
  border-radius: .25em;
  font-size: 16px;
  font-weight: bold;
}

h2.dialog-header {
  background-color: var(--cSecondary);
  padding: .25em;
  line-height: 22px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.screen-reader-only {
  position: absolute;
  inset-inline-start: -100000px;
}

body.loading {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--cPrimary);
  background-image: url(../img/me.gif);
}

body.loading * {
  visibility: hidden;
}

*.focus-ring:focus {
  box-shadow: none;
}

.btn.btn-primary,
.btn.btn-secondary:hover {
  border: 1px solid var(--cSecondary);
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
}

.btn.btn-secondary,
.btn.btn-primary:hover {
  border: 1px solid var(--cPrimary);
  color: var(--cOnSecondary);
  background-color: var(--cSecondary);
}

.form-check-input:checked {
  background-color: var(--cPrimary);
  border-color: var(--cPrimary);
}
.form-check-input:checked:focus {
  background-color: var(--cSecondary);
  border-color: var(--cPrimary);
}

.form-check-input[type="checkbox"]:checked:focus {
  background-image: var(--checkFocus);
}

.form-check-input[type="radio"]:checked:focus {
  background-image: var(--radioFocus);
}

select.form-control.form-select.btn {
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: var(--downArrow);
  border: 1px solid var(--cSecondary);
  background-position: calc(100% - .25em) center;
}

input.form-control:autofill,
input.form-control:autofill:focus,
input.form-control:autofill:hover,
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover, 
input.form-control:-webkit-autofill:focus,
input.form-control:-internal-autofill-selected,
input.form-control:-internal-autofill-selected:hover,
input.form-control:-internal-autofill-selected:focus {
  appearance: unset !important;
  background-image: none !important;
  background-color: var(--tipBg) !important;
  color: var(--cOnSecondary) !important;
}
