html, body {
  position: fixed;
  inset: 0;
}

::-webkit-scrollbar {
  inline-size: 15px;
  block-size: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarBg);
  border-radius: 0.25em;
  border-left: 2px solid var(--cOnPrimary);
  border-right: 2px solid var(--cOnPrimary);
  max-block-size: 50px !important;
  visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

.screen-reader-only {
  position: absolute;
  inset-inline-start: -100000px;
}

body.loading {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--cPrimary);
  background-image: url(../img/me.gif);
}

body.loading * {
  visibility: hidden;
}

*.focus-ring:focus {
  box-shadow: none;
}

.btn.btn-primary,
.btn.btn-secondary:hover {
  border: 1px solid var(--cSecondary);
  background-color: var(--cPrimary);
  color: var(--cOnPrimary);
}

.btn.btn-secondary,
.btn.btn-primary:hover {
  border: 1px solid var(--cPrimary);
  color: var(--cOnSecondary);
  background-color: var(--cSecondary);
}
