div.legend {
  position: fixed;
  bottom: .25em;
  inset-inline-end: .25em;
  width: 300px;
  background-color: var(--cOnPrimary);
  display: none;
  border: 1px solid var(--cPrimary);
  border-radius: .25em;
  background-color: var(--tipBg);
  padding-bottom: 40px;
}

button.legend-opener {
  position: fixed;
  bottom: .25em;
  inset-inline-end: .25em;
  background-image: url(../img/layers.svg);
}

button.legend-opener:hover {
  background-image: url(../img/layers-hover.svg);
}

button.load-layer {
  position: absolute;
  bottom: .5em;
  inset-inline-end: .5em;
  background-image: url(../img/open.svg);
}

button.load-layer:hover {
  background-image: url(../img/open-hover.svg);
}

div.legend select,
div.legend li {
  margin: .25em .5em;
  width: calc(300px - 1.25em);
}

div.legend select {
  margin-top: .5em;
  margin-bottom: 0;
}

div.legend ul {
  padding: 0;
  max-height: calc(100% - 48px);
  overflow: auto;
}

div.legend li {
  list-style-type: none;
  padding: .25em 0;
}

div.legend li.disabled {
  opacity: .5;
}

.form-check-input {
  border-color: var(--cPrimary);
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

div.legend .form-check-input:disabled {
  opacity: 1;
}

.form-check-input:focus {
  box-shadow: 0 0 0 3px var(--cPrimary);
  background-color: var(--cSecondary);
}

div.legend label {
  padding-inline-start: .5em;
}

div.legend li button.edit {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid black;
  background-image: url(/img/edit.svg);
  float: right;
  border-radius: .25em;
  background-size: 17px;
  background-position: center;
  background-repeat: no-repeat;
}

div.legend li button.edit:hover {
  background-image: url(/img/edit-hover.svg);
}