.active-popup {
  z-index: 10000 !important;
}

.popup-overlay {
  position: absolute;
  inset-block-end: -10px;
  inset-inline-start: -30px;
}

.popup-overlay svg {
  fill: var(--cOnPrimary);
  stroke: var(--popupBorder);
  stroke-width: 1px;
  margin-top: -20px;
  height: 10px;
  overflow: visible;
}

.popup {
  width: fit-content;
  block-size: fit-content;
  background-color: var(--cOnPrimary);
  border: 1px solid var(--popupBorder);
  color: var(--cPrimary);
  padding: .5em;
  border-radius: .25em;
}

.popup h2 {
  white-space: nowrap;
  padding-inline-end: 30px;
  cursor: pointer;
}

.popup h2:active {
  cursor: grab;
}

.popup-content {
  max-height: 380px;
  overflow: auto;
  font-size: .75em;
}

.popup-content .feature-html.generic {
  max-width: 320px;
}

.popup-content td {
  white-space: nowrap;
}

.popup-content td.field {
  font-weight: bold;
}

.popup-content .feature-html h3,
.popup-content .feature-html div,
.popup-content .feature-html address {
  margin: .5em 0;
}

.popup-content.subway-line a:hover img,
.popup-content.sir-line a:hover img,
.popup-content.subway-station a:hover img {
  background: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

.popup-content.subway-line a img,
.popup-content.sir-line a img,
.popup-content.subway-station a img {
  padding: 1px;
  border-radius: 50%;
}
