@media print {

  body {
    margin: 0;
    padding: 0;
    width: 725px;
    overflow: scroll;
  }

  h1.banner,
  #map .ol-control,
  #map form.locate-form,
  .btn.translate {
    display: none;
  }

  .ol-scale-bar {
    position: absolute;
  }

  .print-info {
    margin-top: 1em;
  }

  a.btn-close,
  a.btn-min {
    display: none !important;
  }

  .print-info .popup-content {
    max-height: unset;
    display: block;
  }

  .print-info h2 {
    border-bottom: 1px solid var(--cPrimary);
  }

}
