.translate {
  position: absolute;
  top: calc(.25em + 1px);
  inset-inline-end: .25em;
  inline-size: 100px;
  padding: .1em .75em .2em 0;
  height: 33px;
}

button.translate div {
  display: inline-block;
  width: 100%;
}

.translate.dropdown-toggle:after {
  margin-inline-start: -.5em;
}
